nav{
    display: flex;
    background: #4c96d7;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.logo{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    margin-top: .5%;
    margin-left: 1%;
}

span{
    width: 50%;
    text-align: center;
}

.just{
    color: #894e00;
}

.kicks{
    color: #e4c79f;
}
.buttons {
    display: flex;
    /* margin-left: 40%; */
    margin-top: 1%;
    justify-content: space-between;
    /* margin-bottom: 2%; */
    /* height: 1vh; */
    
}
